<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/data" method = "POST">
    <p>NFT LINK<input type = "text" name = "Name" /></p>
    <p><input type = "submit" value = "FIND" /></p>
  </form>
  <style>
    body {
      
      background:black;
      color:white;
    }
    form {
    margin: 25px;
    width:200px;
    padding-left: 600px;
}
  p{
    font-size: 32px;
    font-family:Arial, Helvetica, sans-serif;
  }
  input{
    font-size: 30px;
    padding-left: 25px;
    
  }
    </style>

</body>
</html>
